$color-primary: rgb(18,54,56);
$color-secondary: rgb(255,93,93);
$color-tertiary: rgb(0,169,157);
$color-tertiary-dark: rgb(0,127,118);
$color-white: rgb(242,242,242);

// GRID
$grid-width: 200rem;
$gutter-vertical: 1rem;
$gutter-vertical-small: 6rem;
$gutter-horizontal: 5rem;