.navbar-brand {
  font-family: "Alfa Slab One", cursive;
  font-size: 1em;
  color: #ff625e !important;
}

.bg-dark {
  background-color: #123638 !important;
}


.tempcard {
  margin: 5px;
  background-color: #fce9cc;
}

.tempNumber {
  font-family: "Oswald", sans-serif;
  font-size: 40px;
  color: #ff625e;
}

.searchForm {
  margin-top: 100px !important;
}
